body,html {
    height:100%;
}


.home-title {
    font-family: 'Segoe UI Bold';
    background-color: white;
    height: 1000px;
    text-align: center;
    padding-top: 180px;
    font-size: 70px;
}