@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('segoeuibold.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('../fonts/ufonts.com_segoe-ui-light.ttf') format('truetype');
}


@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../fonts/seguisb.ttf') format('truetype');
}

div#content {
    background-color: white;
    margin: auto;
    width: 990px;
    /*max-width: 700px !important;*/
    position: sticky;
    height: 100%;
    /*display:inline-block;*/
}

body {
    font-family: 'Segoe UI';
    background-color: #f6f6f6;
}

.home-main-title {
    font-family: 'Segoe UI Bold';
    box-shadow: 0px -3px 20px 0px #000000;
    background-color: white;
    height: 1000px;
    text-align: center;
    padding-top: 180px;
    font-size: 70px;
}

.banner-title-small {
    font-family: 'Segoe UI Light';
    font-size: 20px;
    padding: 0 0 0 70px;
    color: white;
}

.banner-title-medium {
    font-family: 'Segoe UI Light';
    font-size: 30px;
    padding: 70px;
    color: white;
}

.banner-title-big {
    font-family: 'Segoe UI Light';
    font-size: 55px;
    padding: 25px 0 0px 35px;
    color: white;
}

.sign-up-input {
    width: 350px;
    height: 30px;
    margin-bottom: 12px;
}

.default-button {
    min-width: 200px;
    background-color: #40a0ea;
    color: white;
    border: 0px;
    box-shadow: 0 0.5px 1px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
    padding: 7px;
    font-family: 'Segoe UI Semibold';
}

    .default-button:hover {
        background-color: #157ccb;
    }


.sign-up-div {
    width: 500px;
    padding-bottom: 20px;
    background-color: white;
}

.sign-in-div {
    width: 500px;
    padding-bottom: 20px;
    background-color: white;
}

.sign-up-title {
    font-family: 'Segoe UI Light';
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #40a0ea;
}

.signin-button {
    min-width: 100px;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #40a0ea;
    color: white;
    border: 0.2px solid white;
    border-radius: 1px;
    font-family: 'Segoe UI Semibold';
}

    .signin-button:hover {
        background-color: #2080ca;
    }

.banner {
    min-height: 230px;
    background-color: #40a0ea;
    /*padding-top: 10px;*/
    margin-top: -38px;
    position: relative;
    width: 100%;
    top: 18px;
    left: 0px;
}

.banner-logo-icon {
    float: left;
    padding: 50px;
}

.banner-logo-icon-small {
    float: left;
    padding: 10px 40px 10px 20px;
    margin-top: 175px;
}

.banner-fixo {
    position: fixed;
    width: 100%;
    top: -130px;
    z-index: 98;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
}

.banner-cheat {
    background-color: white;
}

.signin-button-fixo {
    top: 186px;
}

.banner-icon-small {
    width: 24px;
    height: 24px;
    /*margin-top: 160px;*/
}

.title-small {
    font-family: 'Segoe UI Light';
    font-size: 20px;
    padding: 0 0 0 70px;
    color: #40a0ea;
}

.title-medium {
    font-family: 'Segoe UI Light';
    font-size: 30px;
    padding: 30px 0 25px 50px;
    color: #40a0ea;
}

.title-big {
    font-family: 'Segoe UI Light';
    font-size: 50px;
    padding: 30px 0 25px 50px;
    color: #40a0ea;
}

.menu {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 8px;
    /*left:65px;*/
}

.menu-title-text {
    font-family: 'Segoe UI Light';
    font-size: 16px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 40px;
}

    .menu-title-text:hover {
        color: white;
        cursor: pointer;
    }

.announcement-input {
    margin: 15px;
    width: 65%;
    min-height: 35px;
    margin-left: 100px;
}

.fieldset {
    width: 100%;
    border: 1px;
}

.announcement-input-details {
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
    width: 250px;
    min-height: 35px;
    margin-right: 8px;
}

.garagem-input {
    font-family: 'Segoe UI Light';
    color: gray;
    margin-left: 100px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.images-input {
    margin-top: 10px;
    margin-left: 100px;
    width: 250px;
    min-height: 35px;
    font-family: 'Segoe UI Light';
    color: gray;
}

.images-input-field {
    margin-left: 125px;
    margin-bottom: 5px;
    min-height: 35px;
}

.image-input-button {
    background-color: #40a0ea;
    color: white;
    border: 0px;
    box-shadow: 0 0.5px 1px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
    padding: 7px;
    font-family: 'Segoe UI Semibold';
}

    .image-input-button:hover {
        background-color: #157ccb;
    }

.room-border {
    border-bottom: 1px solid #c7c7c7;
    width: 80%;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.editar-anuncio-imagem-thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    background-position: center;
    position: relative;
    background-color: #f6f6f6;
}

.editar-anuncio-imagem-thumbnail-removeicon {
    background-image: url('../images/close-browser.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: #40a0ea;
}

    .editar-anuncio-imagem-thumbnail-removeicon:hover {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.21);
    }

.search-filter-go-top {
    top: 1000px;
}

.search-filter {
    position: absolute;
    left: 0;
    top: 230px;
    height: 100%;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.search-filter-cheat {
    float: left;
    width: 200px;
    height: 100vh;
}

.search-filter-label {
    margin-right: 15px;
    margin-top: 20px;
    font-family: 'Segoe UI Semibold';
    /*font-weight:bold;*/
}

.search-filter-button {
    min-width: 70px;
    margin-top: 15px;
}

.search-input {
    margin-right: 0;
}

.lupa-button {
    min-width: 40px;
    background-image: url(../images/magnifying-glass.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    height: 34px;
    position: absolute;
    top: 15px;
}
